:host {
  div {
    height: var(--quantum-chart-height, 100%);
  }
  .chart-container {
    width: var(--quantum-chart-width, 100%);
    height: calc(var(--quantum-chart-height, 100%) - 30px);
    position: relative;
  }

  h1 {
    font-size: 20px;
    padding: 5px;
    margin: 0;

    small {
      font-size: 10px;
    }
  }


  .dark {
    h1 {
      color: var(--quantum-font-color, #ffffff);
    }
  }
  .light {
    h1 {
      color: var(--quantum-font-color, #000000);
    }
  }
}
