$fa-font-path: "/assets/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

:host {
  /*
  @font-face {
    font-family: 'FontAwesome';
    src: url("/assets/fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
    color: pink; }
    */

  .chart-container {
    width: var(--quantum-chart-width, 100%);
    height: var(--quantum-chart-height, 100%);
    position: relative;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: auto 100px;
    margin: 10px;
  }

  #ySlider {
    margin-top: 25px;
    grid-row: 1;
    grid-column:1;
  }

  #xSliderWrapper {
    grid-row: 2;
    grid-column:2;
    /*
    .imgWrapper {
      position: absolute;
      height: 100px;
      width: 100%;
      margin-left: 150px;
      overflow: hidden;

      z-index: 1;
      img {
        position: relative;
        height: 100%;
        width: 100%;
        margin-left: -150px;
      }
    }
    */
    quantum-horizontal-zoom-map {
      height: 100px;
      width: 100%;
      z-index: 10;
    }
  }

  #myChart {
    grid-row: 1;
    grid-column:2;
  }

  #reset{
    z-index: 10;
    background-color: var(--quantum-reset-bg-color, greenyellow);
    border-radius: var(--quantum-reset-border-radius, 0px);
    border-color: var(--quantum-reset-border-color, black);
    width: var(--quantum-reset-width, 10px);
    height: var(--quantum-reset-height, 10px);
  }
  
}
