quantum-editor {
    font-size: 0;
    > div {
        font-size: initial;
    }
    #editor {
        width: 100%;
        height: 500px;
    }

    #result {
        code {
            white-space: pre-wrap;
        }
    }
}