quantum-dygraphs {
  h1 {
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }

  .dark {
    h1 {
      color: #ffffff;
    }
  }

  .light {
    h1 {
      color: #000000;
    }
  }

  div#myChart {
    width: var(--quantum-chart-width, 100%);
    height: calc(var(--quantum-chart-height, 100%) - 30px);

    .dygraph-legend {
      background-color: var(--quantum-chart-legend-bg, #000000) !important;
      color: var(--quantum-chart-legend-color, #ffffff) !important;
      padding: 10px;
      border: 1px solid grey;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
      pointer-events: none;
    }

    .dygraph-label, .dygraph-label {
      color: var(--quantum-chart-label-color, #000000) !important;
    }

    &.dark {
      .dygraph-axis-label, .dygraph-label {
        color: var(--quantum-chart-label-color, #ffffff) !important;
      }
    }
  }
}
