quantum-tree-view {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
  }

  li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
  }

  li .stack-level {
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  li .stack-level + div {
    padding-left: 25px;
  }

  li .expanded {
    padding: 1px 10px;
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAKElEQVQ4jWNgGFbgFQMDw38i8UuYJiYkA5hJsIwUtXQEo2EwGgZkAwBP/yN0kY5JiwAAAABJRU5ErkJggg==) no-repeat;
  }

  li .collapsed {
    padding: 1px 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABiSURBVGhD7djRCcAgDEBBF+hHt+wo3auDtWaEKFLRO3j/CSiIBQDYxFE7JytmSntq72TFTGkWGVjTIsvcEQDocdXuyYqZ0ry1Bta0yDJHCwB6+KAb2N5vrWUW8UEHAPyilA9TDlz495u2lwAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
  }

  li .gtsInfo {
    white-space: normal;
    word-wrap: break-word;
  }

  li .gtsInfo[disabled] {
    color: #aaaaaa;
    cursor: not-allowed;
  }

  li .normal {
  }

  li .normal {
    border-radius: 50%;
    background-color: #bbbbbb;
    display: inline-block;
    width: 12px;
    height: 12px;
  }

  li i, li span {
    cursor: pointer;
  }

  li .selected {
    background-color: #aaddff;
    font-weight: bold;
    padding: 1px 5px;
  }

  .gts-classname {
    color: var(--gts-classname-font-color, #0074D9);
  }

  .gts-labelname {
    color: var(--gts-labelname-font-color, #3d9970);
  }

  .gts-separator {
    color: var(--gts-separator-font-color, #bbbbbb);
  }

  .gts-labelvalue {
    color: var(--gts-labelvalue-font-color, #AAAAAA);
    font-style: italic;
  }

  .dark {
    color: #ffffff;
    .expanded {
      color: #ffffff;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACASURBVGhD7djRCYAwDEXRLOCHWzqKe7lXawIZILQEQ7wH+hl4D5SUCgAA+IMxxjHnPCsdy+Tx4nTo0eFSLJPHi6NIotUiPf4RAAB26PK5dAndlY5l8nhxdh3Q4VIsk8eL61Skx6cFAMAOXT480GWxTB4vjiKJVovwQAcAAD4h8gJ93ZLCEjQrYQAAAABJRU5ErkJggg==) no-repeat;
      background-size: cover;
    }
  }
}
