:host {
  div {
    height: var(--quantum-chart-height, 100%);
  }

  .chart-container {
    width: var(--quantum-chart-width, 100%);
    height: var(--quantum-chart-height, 100%);
    position: relative;
    div {
      font-size: 10rem;
      height: 100%;
      width: 100%;
      .responsive {
        width: calc(100% - 10px);
        height: auto;
      }
    }
  }
}
