:host {
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .lds-ring {
      display: inline-block;
      position: absolute;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--quantum-spinner-color, #5899DA) transparent transparent transparent;
      }

      &.dark {
        div {
          border: 6px solid;
          border-color: var(--quantum-spinner-color, #eeeeee) transparent transparent transparent;
        }
      }

      div:nth-child(1) {
        animation-delay: -0.45s;
      }
      div:nth-child(2) {
        animation-delay: -0.3s;
      }
      div:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
