:host {

  #vrail {
    position: relative;
    background-color: var(--quantum-bg-rail-color, grey);
    opacity: 0.7;
    width: 20px;
    margin: 0 0 20px 0;
    border: 1px solid var(--quantum-border-rail-color, black);
    border-radius: var(--quantum-border-radius, 6px);
    padding: 0 0 0 0;
  }

  #vrail:hover {
    opacity: 1;
  }

  #vcursor {
    background-color: var(--quantum-bg-cursor-color, red);
    position: relative;
    cursor: move;
    width: 20px;
    height: 100%;
    border: 1px solid var(--quantum-border-cursor-color, black);
    border-radius: var(--quantum-border-radius, 6px);
    transition: top .01s;
  }
}
