<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Quantumviz</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
          integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
          crossorigin="anonymous"></script>


  <script src="/build/quantumviz.js"></script>

  <style>
    .bar {
      width: 1px;
      height: 100%;
      left: -100px;
      position: absolute;
      background-color: red;
      top: 0;
      bottom: 0;
    }

    body {
      --quantum-tile-height: 500px;
      --quantum-chart-legend-bg: #000;
    }

    body.dark {
      --quantum-font-color: #ffffff;
      --quantum-chart-label-color: #ffffff;
      --gts-tree-expanded-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACASURBVGhD7djRCYAwDEXRLOCHWzqKe7lXawIZILQEQ7wH+hl4D5SUCgAA+IMxxjHnPCsdy+Tx4nTo0eFSLJPHi6NIotUiPf4RAAB26PK5dAndlY5l8nhxdh3Q4VIsk8eL61Skx6cFAMAOXT480GWxTB4vjiKJVovwQAcAAD4h8gJ93ZLCEjQrYQAAAABJRU5ErkJggg==');
      --gts-stack-font-color: #ffffff;
      --quantum-switch-inset-color: #000000;
      --quantum-switch-inset-checked-color: darkgreen;
      --quantum-switch-handle-color: #8e8e8e;
      --quantum-switch-handle-checked-color: lime;
    }

  </style>
</head>

<body>
<div class="jumbotron container">
  <h1>Quantum-viz demo</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <button type="button" class="btn btn-primary float-right m-3" id="dark">Dark</button>
    <button type="button" class="btn btn-primary float-right m-3" id="light">Light</button>
  </div>
  <div class="row">
    <div class="card col-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" type="plot"
                      chart-title="Plot">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW 30 d ] FETCH
          false RESETS
          'gts' STORE
          [ $gts mapper.delta 1 0 0 ] MAP
          1000 LTTB
          [ SWAP ]
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="text"
                      chart-title="Text">
          { 'data' 42 'globalParams' { 'bgColor' 'darkblue' 'fontColor' 'cyan' } }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="bubble"
                      show-legend="false"
                      chart-title="Bubbles">
          'P_cYkAU.VwP4MB4NkOzwjv..KAkQD28NCsuL2f3U1TLoT7DRP7I9iCw_Fy7Ap2pvA3OTmWA8Epf.xP0nr2TUF4UhKJUxa_jOpn8GXdIOIFHLf3ENExUFK3bgx3FglaAsw_tPVCe_GDTcw6TK31tTDV'
          'readToken' STORE
          [ $readToken '~eu.amzair.input.(temp.discharge|outlet.primary.circ|evd.suct.temp|inlet.primary.circ)' {
          'serial' 'cityzendata' } NOW -30 ] FETCH
          10 LTTB
          <% DROP 'gts' STORE { $gts NAME $gts VALUES <% DROP 'val' STORE [ RAND 100 * RAND 100 * $val 10 / ] %> LMAP
          }
          %> LMAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C"
                      show-legend="false"
                      chart-title="Default">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -10 ] FETCH
          false RESETS
          [ SWAP mapper.delta 1 0 0 ] MAP
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="step"
                      show-legend="false"
                      chart-title="step">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -10 ] FETCH
          false RESETS
          [ SWAP mapper.delta 1 0 0 ] MAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>

    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="area"
                      show-legend="false"
                      chart-title="Area">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -10 ] FETCH
          false RESETS
          [ SWAP mapper.delta 1 0 0 ] MAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="scatter"
                      show-legend="false"
                      chart-title="Scatter">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -10 ] FETCH
          false RESETS
          [ SWAP mapper.delta 1 0 0 ] MAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="bar"
                      show-legend="false"
                      chart-title="Bar">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -10 ] FETCH
          false RESETS
          [ SWAP bucketizer.last $NOW 1 m 0 ] BUCKETIZE
          [ SWAP mapper.delta 1 0 0 ] MAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="gauge"
                      show-legend="false"
                      chart-title="gauge">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -1 ] FETCH
          <% DROP 'gts' STORE [ $gts NAME $gts VALUES 0 GET ] %> LMAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="pie"
                      show-legend="false"
                      chart-title="pie">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -1 ] FETCH
          <% DROP 'gts' STORE [ $gts NAME $gts VALUES 0 GET ] %> LMAP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="doughnut"
                      show-legend="false"
                      chart-title="doughnut">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -1 ] FETCH
          <% DROP 'gts' STORE [ $gts NAME $gts VALUES 0 GET ] %> LMAP
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="polar"
                      show-legend="false"
                      chart-title="polar">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -1 ] FETCH
          <% DROP 'gts' STORE [ $gts NAME $gts VALUES 0 GET ] %> LMAP
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" unit="°C" type="radar"
                      show-legend="false"
                      chart-title="Radar">
          @training/dataset0
          [ $TOKEN '~warp.*committed' { 'cell' 'prod' } $NOW -5 ] FETCH
          'list' STORE
          $list
          <%
          DROP 'gts' STORE
          $gts LABELS 'rack' GET 'rack' STORE

          {
          $rack $gts VALUES <%
          'index' STORE 'val' STORE
          { $index TOSTRING $val 5 % }
          %> LMAP
          }
          %> LMAP
          STOP 'values' STORE
          { 'data' $values }
        </quantum-tile>
      </div>
    </div>
    <div class="card col-lg-4 col-md-12">
      <div class="card-body">
        <quantum-tile url="https://warp.cityzendata.net/api/v0/exec" responsive="true" type="image"
                      show-legend="false"
                      chart-title="Image">
          //draw tangents along the curve
          300 200 '2D3' PGraphics
          255 Pbackground
          16 PtextSize

          50 'x1' STORE
          50 'y1' STORE
          200 'x2' STORE
          130 'y2' STORE

          100 'cx1' STORE
          40 'cy1' STORE

          110 'cx2' STORE
          140 'cy2' STORE


          4 PstrokeWeight
          $x1 $y1 Ppoint //first anchor
          $x2 $y2 Ppoint //second anchor

          2 PstrokeWeight
          $x1 $y1 $cx1 $cy1 Pline
          $x2 $y2 $cx2 $cy2 Pline

          2 PstrokeWeight
          0xffff0000 Pstroke
          $x1 $y1 $cx1 $cy1 $cx2 $cy2 $x2 $y2 Pbezier

          0 10
          <%
          10.0 / 't' STORE

          $x1 $cx1 $cx2 $x2 $t PbezierPoint 'x' STORE
          $y1 $cy1 $cy2 $y2 $t PbezierPoint 'y' STORE
          $x1 $cx1 $cx2 $x2 $t PbezierTangent 'tx' STORE
          $y1 $cy1 $cy2 $y2 $t PbezierTangent 'ty' STORE
          $ty $tx ATAN2 PI 2.0 / - 'angle' STORE
          0xff009f00 Pstroke
          $x
          $y
          $x $angle COS 12 * +
          $y $angle SIN 12 * +
          Pline

          0x9f009f00 Pfill
          PnoStroke
          'CENTER' PellipseMode
          $x $y 5 5 Pellipse

          %> FOR


          Pencode
        </quantum-tile>
      </div>
    </div>
  </div>
</div>
<script language="JavaScript">
  var defOpts = {
    gridLineColor: '#000000'
  };
  $(function () {
    var body = $("body");
    $("#dark").click(function () {
      body.addClass('bg-dark').addClass('dark').removeClass('light');
      $(".card").addClass('bg-dark');
      defOpts.gridLineColor = '#ffffff';
      document.querySelectorAll('quantum-tile').forEach(el => {
        el.options = {...defOpts};
      });
      document.querySelector('#plot')['options'] = {...defOpts};
    });
    $("#light").click(function () {
      body.removeClass('bg-dark').removeClass('dark').addClass('light');
      $(".card").removeClass('bg-dark');
      defOpts.gridLineColor = '#000000';
      document.querySelectorAll('quantum-tile').forEach(el => {
        el.options = {...defOpts};
      });
      document.querySelector('#plot')['options'] = {...defOpts};
    });
  });
</script>
</body>

</html>
